:root{
  --primary-color: #2275A0;
  --secondary-color: #6A6969;
  --link-color: #5858AA;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 39px;
  /* identical to box height */


  color: var(--secondary-color);
}

.button-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  color: var(--secondary-color);
}

.button-text:hover {
  transform: translateY(-2px);
  transition: all ease-in-out 0.2s;
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.3);
}

.link {
  color: var(--link-color);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-decoration-line: underline;
}

.primary-button {
  background-color: var(--primary-color);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

.secondary-button {
  background-color: var(--secondary-color);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

.primary-button:hover, .secondary-button:hover{
  transform: translateY(-2px);
  transition: all ease-in-out 0.2s;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.3);
}

.post-feed-bg {
  background: #F8F8F8;
}

.avatar-text {
  content:attr(data-letters);
  display: flex;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.avatar{
  display:flex;
  border-radius:50%;
  justify-content: center;
}

.card-name{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 800;
  color: #474646;
}

.card-fonction{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #827D7D;
}