:root{
  --primary-color: #2275A0;
  --secondary-color: #6A6969;
  --link-color: #5858AA;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 39px;
  /* identical to box height */


  color: var(--secondary-color);
}

.button-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  color: var(--secondary-color);
}

.button-text:hover {
  transform: translateY(-2px);
  transition: all ease-in-out 0.2s;
}

.link {
  color: var(--link-color);
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-decoration-line: underline;
}